---
title: 'VidaPay Payment'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="v-help">
		<div class="v-help__description">
			<p>This app requires the installation of Site2Site Bridge Plug-in. Please click <a href="#">here</a> to install.</p>
			<p>How to install:</p>
		</div>
		<div class="v-help__slider js-slider">
			<div class="v-help__slide">
				<img src="img/BPlugin1.png" alt="first step">
			</div>
			<div class="v-help__slide">
				<img src="img/BPlugin2.png" alt="second step">
			</div>
			<div class="v-help__slide">
				<img src="img/BPlugin3.png" alt="third step">
			</div>
		</div>
		<div class="v-help__description">
			<p>After plugin is installed, the app will be automatically opened. If app is not opened automatically, please click <a href="#">here</a> to continue.</p>
		</div>
	</div>
{% endblock %}	